.rol_selector {
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid #6C757D;
  color: #6C757D;
  cursor: pointer;
}

.selected_rol {
  background-color: #fd531e;
  color: white;
  border: none;
}

.input_label {
  font-size: 20px;
  font-weight: 500;
  color: #6C757D;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 2px;
}